.cardList {
  padding-bottom: 82px;
}

.cardList {
    width: 100%;
}

.emptyState {
  text-align: center;
  margin-top: 180px;
}

.emptyStateTitle {
  font-size: 40px; /* Большой текст */
  font-weight: bold;
  color: var(--tgui--text_color); /* Цвет текста */
  margin-bottom: 8px; /* Отступ между заголовком и подзаголовком */
}

.emptyStateSubtitle {
  font-size: 16px; /* Меньший текст */
  color: var(--tgui--hint_color); /* Более светлый цвет */
}

.modalAddBtns {
  margin-bottom: 30px;
  padding: 10px 22px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  button {
    margin: 0;
  }
}

.modalDelete {
  display: flex;
  align-items: center;
  flex-direction: column;  
}

.modalDeleteBtns {
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  button {
    margin: 0;
  }
}

.inputContainer {
  margin-bottom: 16px;
}

.errorText {
  color: var(--tgui--destructive_text_color);
  font-size: 12px;
  margin-top: 4px;
  padding: 0 16px;
}

.inputGroup {
  margin-bottom: 16px;
  position: relative;
}

.errorMessage {
  color: var(--tgui--destructive_text_color);
  font-size: 14px;
  margin-top: 4px;
  padding: 0 20px;
}